@import url("https://fonts.googleapis.com/css2?family=Lobster|Monserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
  font-family: "Lobster", cursive;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
a {
  text-decoration: none;
}
.Urls_actividades {
  font-size: 2rem;
}
.Urls_actividades a {
  padding: 30px 25px;
  background-color: #007aae;
  border-radius: 5px;
  color: #fff;
  border: 2px solid white; /* Borde */
  transition: background-color 0.3s, border-color 0.3s;
}
.logo {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  text-align: center;
}
.logo img {
  margin-left: 15px;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.menu li a {
  color: black;
  text-decoration: none;
}

.parallax {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.parallax img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.titulo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 4rem;
}

.section {
  padding: 6rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.section h2 {
  font-size: 1.7rem;
  margin-bottom: 100px;
}
.section h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 70px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
}
.section p {
  margin-bottom: 1rem;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Ajustar el tamaño de las fuentes */
  .titulo {
    font-size: 1rem;
    text-align: center;
  }

  .Urls_actividades {
    font-size: 1rem;
  }

  /* Cambiar el diseño de la sección */
  .section {
    padding: 3rem;
    height: auto; /* Permitir que la altura sea flexible */
  }

  /* Ajustes para las imágenes en la sección parallax */
  .parallax img {
    width: 100%;
    height: auto; /* Hacer que las imágenes se adapten mejor a pantallas más pequeñas */
  }

  /* Ajustar el menú si está activado */
  header {
    padding: 1rem;
    flex-direction: column; /* Cambiar la orientación del header a columna */
  }

  .menu {
    flex-direction: column; /* Hacer que los enlaces del menú se apilen verticalmente */
    gap: 1rem;
  }

  /* Estilizar los enlaces de la actividad */
  .Urls_actividades a {
    padding: 10px;
    font-size: 1rem;
  }
  .section h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
  }
  .section h2 {
    font-size: 1.2rem;
    margin-bottom: 100px;
  }
}
